@import url(background.css);
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}

.logo {
    height: 200px;
    width: 200px;
}

ol {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
  }

ol li {
padding: 8px 16px;
border-bottom: 1px solid #ddd;
}

ol li:last-child {
border-bottom: none
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} */

.index {
    font-size: 32px;
    overflow: hidden;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    text-align: center;
    color: white;
}

.smaller-text {
    text-align: center;
    color: white;
    font-size: 16px;
}

.img-recipe {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.img-logo {
    width: 150px;
    height: 150px;
} 

.index {
    font-size: 32px;
    overflow: hidden;
}

.recipes {
    overflow-x: hidden;
}

.description {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    height: 400px;
}

.ingredients {
    position: relative;
    bottom: 250px;
}

.steps {
    position: relative;
    bottom: 250px;
}

footer {
    clear: both;
    position: relative;
    height: 50px;
    margin-top: -250px;
}

.author {
    color: lightblue;
}